# Virtual environments
.venv/
venv/
env/
.env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Whisper / model cache
.cache/
*.pt

# IDE / OS
.vscode/
.idea/
*.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Model weights
*.safetensors
*.h5
*.pickle
